* {
    box-sizing: border-box;
}

/*header .row > div {
    display: flex;
    align-items: center;
}*/

header .row {
    position: relative;
    overflow: hidden;
}

header > .container-fluid > .row {
    background-color: #660066;
}

header .row > .col-fixed-logo {
    background-image: url(../img/logo-mediano.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 300px;
    float: left;
}

@media (max-width: 768px) {
    header .row-fluid > .col-fixed-logo {
        background-image: url(../img/logo-peque.png);
        width: 175px;
    }
    .redes {
        font-size: 18px!important;
    }
    header .row > .col-fixed-logo {
        background-image: url(../img/logo-peque.png);
        height: 65px!important;
        width: 180px!important;
    }
    .submenu {
        height: 65px!important;
        line-height: 65px!important;
    }
    .boton-menu {
        font-size: 18px!important;
        top: 4px!important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .submenu {
        line-height: 90px!important;
    }
}

.boton-menu {
    color: white;
    font-size: 25px;
    top: 8px;
}

.fondo_animado {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/transgrunge.png);
    animation: slide 60s linear infinite;
    width: 5076px;
}

a, a:active, a:visited {
    color: purple;
}

a:hover {
    color: black;
    text-decoration: none;
}

.menu {
    height: 30px;
    line-height: 30px;
}

.menu-escritorio {
    
}

.menu-escritorio li {
    display: inline-block;
    list-style-type: none;
    width: calc(100% / 5 - 4px);
}

.redes {
    text-align: right;
    font-size: 25px;
    color: white;
}

.redes span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu-escritorio a {
    color: white;
    font-weight: bold;
}

.menu-escritorio a,
header span:hover {
    transition: 1s;
}

.menu-escritorio a:hover,
header span:hover{
    color: #ff00ff;
}

.submenu {
    float: right;
    height: 90px;
}

/* ---- */

main {
    position: relative;
}

.contenido {
    padding: 0!important;
}

.intel_video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
}

.transgrunge {
    position: absolute;
    float: left;
    background-image: url(../img/transgrunge.png);
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: invert(1) grayscale(100%);
}

.intel_video_overlay {
    position: absolute;
    width: 100%;
    text-align: center;
    color: purple;
    z-index: 2;
}

footer {
    background-color: black;
    color: white;
    padding: 50px 20px;
    font-size: 20px;
    font-weight: bold;
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}