                    <nav>
                        <ul>
                            <li class="active"><a href="index.html">Inicio</a></li>
                            <li><a href="nosotros.html">Presentación</a></li>
                            <li><a href="proyectos.html">Proyectos</a></li>
                            <li><a href="miembros.html">Miembros</a></li>
                            <li><a href="afiliados.html">Afiliados</a></li>
                            <li><a href="contacto.html">Contacto</a></li>
                        </ul>
                    </nav>