<nav>
    <ul>
        <li data-menu-section="inicio" class="active"><a href="index.html">Inicio</a></li>
        <li data-menu-section="presentacion"><a href="nosotros.html">Presentación</a></li>
        <li data-menu-section="proyectos"><a href="proyectos.html">Proyectos</a></li>
        <li data-menu-section="miembros"><a href="miembros.html">Miembros</a></li>
        <li data-menu-section="afiliados"><a href="afiliados.html">Afiliados</a></li>
        <li data-menu-section="contacto"><a href="contacto.html">Contacto</a></li>
    </ul>
</nav>